p {
  font-family: Lato;
}

.heading,
.btnAddUser {
  margin-bottom: 20px;
}
.btn-primary,
.btn-secondary {
  margin-top: 15px;
  margin-right: 15px;
}
.btn-info {
  margin-right: 15px;
}
.alert {
  padding: 5px 10px;
}
