
:host .user-resgistration-wrapper {
  margin: 100px auto 32px;
  p {
    font-family: Lato;
  }
  .heading span{
    margin-bottom: 20px;
    font-size: 22px;
    display: inline;
  }
  .btnAddUser.btn-primary {
    margin-top: 0px;
    margin-right: 0px;
  }
  form {
    margin-bottom: 50px;
    .form-group {
      margin-bottom: 15px;
    }
  }
  .btn-primary,
  .btn-secondary {
    margin-top: 15px;
    margin-right: 15px;
  }
  .btn-info {
    margin-right: 15px;
  }
  .alert {
    padding: 5px 10px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
  z-index: 9;
  span {
    margin: 0 0 0 115px;
    font-size: 24px;
  }
}
.footer {
  background: #1976d2;
  padding: 10px 0;
  margin-top: 60px;
  text-align: center;
  color: #fff;
}
